<div>
    <div class="search-box">
        <input value="" id="search"><button onclick="searchClick()">search</button>
    </div>
    <div class="table-box" id="table">
        <div class="table-head">
            <div>id</div>
            <div>tag</div>
            <div>category</div>
            <div>filename</div>
            <div>preview</div>
            <div>operation</div>
        </div>
        <div class="table-r">
            <div class="id">1</div>
            <div class="tag">test</div>
            <div class="category">test</div>
            <div class="filename">test</div>
            <div class="image">
                <img width="70px" height="40px">
            </div>
            <div class="operation">
                <a href="" class="dow">download</a>
                <span class="del">delete</span>
            </div>
        </div>
    </div>
</div>