<div id="uploadForm" class="form-box">
  <p class="form-item">
    <label for="tag">Tag</label><br />
    <input type="text" name="tag" />
  </p>
  <p class="form-item">
    <label for="category">Category</label><br />
    <input type="text" name="category" />
  </p>
  <p class="file"><label for="pass">Choose a file</label><br /><input type="file" name="file"
      accept="image/png,image/jpg,image/jpge" /></p>
  <p class="sub"><button onclick="upload()">Upload</button></p>
</div>