<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Photos Page</title>
  <meta name="description" content="form to add new books">
  <meta name="author" content="Mark Tyers">
  <link href="/style.css" type="text/css" rel="stylesheet" />
  <script type="module" src="/main.js"></script>
  <style>
    .content {
      padding: 15px;
    }

    .table-box {
      border-radius: 4px;
      border: 1px solid #e6e6e6;
      padding: 0;
    }

    .table-head {
      display: flex;
      background: #e6e6e6;
      height: 50px;
      line-height: 50px;
    }

    .table-head>div {
      flex: 1;
      text-align: center;
      color: #333333;
    }

    .table-r {
      display: flex;
      height: 60px;
      line-height: 60px;
    }

    .table-r>div {
      flex: 1;
      text-align: center;
      color: dimgray;
    }

    .table-r>div img {
      margin-top: 16px;
    }

    .table-r>div .dow {
      font-size: 12px;
      /*color: ;*/
      background-color: #409eff;
      border-radius: 4px;
      padding: 5px;
      color: white;
      text-decoration: none;
    }

    .table-r>div .del {
      font-size: 12px;
      /*color: #d93a49;*/
      background-color: #d93a49;
      border-radius: 4px;
      padding: 5px;
      color: white;
    }

    .table-r:nth-child(2n + 1) {
      background: #f7f7f7;
    }

    .search-box {
      padding-bottom: 30px;
    }
  </style>
</head>

<body>
  <header class="top">
    <h1>Photos Bar</h1>
    {{#if authorised}}
    <a href="/logout">Log out</a>
    {{else}}
    <a href="/login">Log in</a>
    {{/if}}
  </header>
  <main class="main">
    <div class="menu">
      {{#if authorised}}
      <div class="menu-item">
        <a href="/">Home</a>
        <span>></span>
      </div>
      <div class="menu-item">
        <a href="/foo">Foo Bar</a>
        <span>></span>
      </div>
      <div class="menu-item">
        <a href="/photos">Photos Bar</a>
        <span>></span>
      </div>
      {{/if}}
    </div>
    <div class="content">
      {{> img}}
    </div>
  </main>
  <script type="text/javascript">
    // 被调用的函数
    async function create() {
      // url 域名/后端路由
      const url = `${window.location.origin}/api/photos`
      const options = {
        method: 'GET',
        headers: {
          'Content-Type': 'application/vnd.api+json',
          'Authorization': localStorage.getItem('authorization')
        }
      }
      const response = await fetch(url, options)
      // 假设 response 已经拿到数据了
      const data = await response.json()
      console.log(data)
      const photos = data.data

      let t = `
        <div class="table-head">
      <div>id</div>
      <div>tag</div>
      <div>category</div>
      <div>filename</div>
      <div>preview</div>
      <div>operation</div>
      </div>
      `
      photos.data.forEach(item => {
        console.log(item)
        t += `
            <div class="table-r">
            <div class="id">${item.id}</div>
            <div class="tag">${item.tag}</div>
            <div class="category">${item.category}</div>
            <div class="filename">${item.filename}</div>
            <div class="image">
             <img width="70px" height="40px" src="./uploads/${item.filename}" lowsrc>
            </div>
            <div class="operation">
             <a class="dow" href="#" onclick="d(this, '${item.filename}')"> download</a>
             <a class="del" href="#" onclick="del(this, ${item.id})"> delete </a>
            </div>
          </div>
      `
      })
      const d = document.querySelector('#table')
      console.log(d)
      setTimeout(() => {
        d.innerHTML = t
      }, 10)
    }
    // 页面加载时执行的函数
    window.onload = create()

    async function searchClick() {
      const ds = document.querySelector('#search')
      console.log(ds.value)
      let tag = ds.value
      if(tag ===''){
          tag = 'default'
      }
      // url 域名/后端路由
      const url = `${window.location.origin}/api/search/${tag}`
      const options = {
        method: 'GET',
        headers: {
          'Content-Type': 'application/vnd.api+json',
          'Authorization': localStorage.getItem('authorization')
        }
      }
      const response = await fetch(url, options)
      // 假设 response 已经拿到数据了
      const data = await response.json()
      console.log(data)
      const photos = data.data

      let t = `
        <div class="table-head">
      <div>id</div>
      <div>tag</div>
      <div>category</div>
      <div>filename</div>
      <div>preview</div>
      <div>operation</div>
      </div>
      `
      photos.data.forEach(item => {
        console.log(item)
        t += `
            <div class="table-r">
            <div class="id">${item.id}</div>
            <div class="tag">${item.tag}</div>
            <div class="category">${item.category}</div>
            <div class="filename">${item.filename}</div>
            <div class="image">
             <img width="70px" height="40px" src="./uploads/${item.filename}" lowsrc>
            </div>
            <div class="operation">
             <a class="dow" href="#" onclick="d(this, '${item.filename}')"> download</a>
             <a class="del" href="#" onclick="del(this, ${item.id})"> delete </a>
            </div>
          </div>
      `
      })
      const d = document.querySelector('#table')
      console.log(d)
      setTimeout(() => {
        d.innerHTML = t
      }, 10)
    }

    // 删除
    async function del(event, type) {
      console.log(event, type);
      const url = '/api/photos/' + type
      const options = {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/vnd.api+json',
          'Authorization': localStorage.getItem('authorization')
        }
      }
      const response = await fetch(url, options)
    }
    async function d(event, type) {
      console.log(event, type)
      const url = './public/uploads/' + type
      fetch(url)
        .then((res) => { return res.blob() })
        .then((data) => {
          const a = document.createElement("a")
          a.href = window.URL.createObjectURL(data)
          a.download = type
          a.click()
        })
    }
  </script>
</body>

</html>